/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.spacer {
    flex: 1 1 auto;
  }

  .mat-list-item{
    height:auto !important;
  }
  
  .mat-card{
    display:flex;
    flex-direction: column;
  }
  
  .mat-card-header {
    flex-shrink: 0;
  }
  
  .mat-card-content{
    flex-grow: 1;
    overflow: auto;
  }